.chat {
    display: flex;
    flex-direction: column;
    flex: 0.65;
    height: 95vh;
    background-color: rgb(241, 241, 253);
  }

  .chat__header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    background-color: rgb(253, 240, 240);
  }

  .chat__header > h4 {
    font-family: Walsheim;
    font-weight: 500;
    color: black;
  }

  .chat__header > strong {
    color: #3e93fd;
  }

  .chat__messages {
    flex: 1;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 10px;
  }

  .chat__messages::-webkit-scrollbar {
    display: none;
  }

  .chat__input {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-top: 1px solid lightgray;
    background-color: rgb(253, 240, 240);
  }
  
  .chat__input > form {
    flex: 1;
  }
  
  .chat__input > form > input {
    width: 90%;
    outline-width: 0;
    border: 1px solid lightgray;
    border-radius: 999px;
    padding: 5px;
  }
  
  .chat__input > form > button {
    display: none;
  }

  .butto{
    background-color: white;
    font-family: Walsheim;
  }