.message {
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    justify-content: space-between;
    margin: 10px;
  }
  .message > p {
    font-family: Walsheim;
    background-color: rgb(250, 110, 104);
    font-size: medium;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    margin-right: auto;
    color: white;
    box-shadow: 3px 3px 4px lightgray;
  }
  .message > small {
    color: rgb(250, 110, 104);
    position: absolute;
    font-size: 8px;
    bottom: -5px;
    right: 0;
  }
  .message__sender {
    margin-left: auto;
  }
  .message__sender > p {
    font-family: Walsheim;
    background-color: rgb(139, 93, 221);
    color: white;
    border-radius: 15px;
  }